************************************HERO SECTION************************************

/* Rectangle: */
opacity: 0.85;
background-image: linear-gradient(-224deg, #0FF0B3 0%, #036CDA 63%, #036ED9 99%);
/* social-icons: */
/* coastline-logo: */
/* Rectangle 2: */
background-image: linear-gradient(-141deg, #C6EC51 0%, #30B08E 79%, #09A09E 100%);
box-shadow: 0 28px 43px 0 rgba(0,0,0,0.11);
border-radius: 100px;
/* JOIN FOR FREE: */
font-family: Avenir-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle 2: */
background: #FFFFFF;
box-shadow: 0 28px 43px 0 rgba(0,0,0,0.11);
border-radius: 100px;
/* CONTACT SALES: */
font-family: Avenir-Medium;
font-size: 18px;
color: #426A88;
letter-spacing: 0;
/* One-click access to: */
font-family: Avenir-Heavy;
font-size: 40px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 47px;
/* Hundreds of chefs tr: */
opacity: 0.81;
font-family: Avenir-Book;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle 2: */
background: #FFFFFF;
box-shadow: 0 28px 43px 0 rgba(0,0,0,0.11);
border-radius: 100px;
/* SIGN UP: */
font-family: Avenir-Medium;
font-size: 18px;
color: #4F6C8D;
letter-spacing: 0;
/* About: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
/* Harvesters: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
/* Blog: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
/* mobile-devices: */


************************************BODY SECTION************************************
/* Find seafood you nee: */
font-family: Avenir-Medium;
font-size: 24px;
color: #426A88;
letter-spacing: 0;
/* tuna-logo: */
/* Tap to place your or: */
font-family: Avenir-Medium;
font-size: 24px;
color: #426A88;
letter-spacing: 0;
/* payment-logo: */
/* Higher quality, full: */
font-family: Avenir-Medium;
font-size: 24px;
color: #426A88;
letter-spacing: 0;
/* location-logo: */


************************************BODY 2 SECTION************************************

/* One stop seafood sho: */
font-family: Avenir-Heavy;
font-size: 45px;
color: #4F6C8D;
letter-spacing: 0;
line-height: 47px;
/* Place and manage you: */
font-family: Avenir-Medium;
font-size: 24px;
color: #4F6C8D;
letter-spacing: 0;


/* app-screenshot: */


************************************TRACEABILITY SECTION************************************

/* Rectangle 4: */
background-image: linear-gradient(-136deg, #3C4C76 0%, #1C2541 100%);
/* larry-brochure-table: */
opacity: 0.26;
/* The story behind you: */
font-family: Avenir-Heavy;
font-size: 45px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 47px;
/* Traceable seafood, h: */
font-family: Avenir-Medium;
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
/* Rectangle 2: */
border: 5px solid #FFFFFF;
box-shadow: 0 28px 43px 0 rgba(0,0,0,0.11);
border-radius: 100px;
/* MEET OUR HARVESTERS: */
font-family: Avenir-Medium;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;


************************************FOOTER SECTION************************************

/* Rectangle 15: */
background: #F1F6FA;


/* Blog: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;
/* Careers: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;
/* FAQs: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;
/* Privacy: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;
/* Instagram: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;
/* Copyright - Coastlin: */
font-family: Avenir-Heavy;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;


/* google-play: */


/* app-store: */


/* Ready to get started: */
font-family: Avenir-Heavy;
font-size: 45px;
color: #4B4B4B;
letter-spacing: 0;
/* Rectangle 5: */
background: #4B4B4B;
/* YOUR EMAIL: */
font-family: Avenir-Medium;
font-size: 20px;
color: #4B4B4B;
letter-spacing: 0;
/* Rectangle 2: */
background: #6B7C93;
border: 5px solid #6B7C93;
box-shadow: 0 28px 43px 0 rgba(107,124,147,0.37);
border-radius: 100px;
/* SIGN UP: */
font-family: Avenir-Medium;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;


/* Rectangle 5 Copy: */
background: #FFFFFF;
box-shadow: 2px 20px 43px 0 rgba(0,0,0,0.20);
border-radius: 12px;
/* VIEW FEATURES: */
font-family: Avenir-Heavy;
font-size: 24px;
color: #6B7C93;
letter-spacing: 0;
/* Learn about standing: */
font-family: Avenir-Light;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;
/* Arrow: */
background: #6B7C93;


/* Rectangle 5 Copy: */
background: #FFFFFF;
box-shadow: 2px 20px 43px 0 rgba(0,0,0,0.20);
border-radius: 12px;
/* See our full suite o: */
font-family: Avenir-Light;
font-size: 20px;
color: #6B7C93;
letter-spacing: 0;
/* VIEW PRODUCTS: */
font-family: Avenir-Heavy;
font-size: 24px;
color: #6B7C93;
letter-spacing: 0;
/* Arrow: */
background: #6B7C93;